version: '3.8'

services:
  backend:
    build: ./backend
    container_name: xiaoyue_backend
    env_file:
      - ./backend/.env
    volumes:
      - ./backend:/app
    ports:
      - "8000:8000"
    depends_on:
      - redis
    environment:
      - DEBUG=1
  redis:
    image: redis:alpine
    container_name: redis_cache
    ports:
      - "6379:6379"

  frontend:
    build: ./frontend
    container_name: xiaoyue_frontend
    env_file:
      - ./frontend/.env
    volumes:
      - ./frontend:/app
      - /app/node_modules
    ports:
      - "3000:3000"
    depends_on:
      - backend
    stdin_open: true